div.list-group
    if categories.length  > 0 
        each i in categories
            a(href=`/categories/${i._id}`, class = i._id == selectedCategoryId ? "list-group-item-active" : "list-group-item") #{i.name}