<!doctype html>
html(lang="ar" dir="ltr")

    include ../includes/head.pug

    body


        include ../includes/navbar.pug
        
        
 
        div.cont.pt-100
            block content
                    
 
 
