<!doctype html>
html(lang="ar" dir="ltr")

    include ../includes/head.pug

    body


        include ../includes/navbar.pug
        
        
 
        div.cont
            div.row
                div.col-lg-3

                    include ../includes/menu.pug                

                div.col-lg-9
                    block content
                    
 
 
